ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="SCRIPTS", RUN+="/usr/bin/systemd-mount --no-block --type=vfat --options=ro,noexec --collect $devnode /media/SCRIPTS"
ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="HSMFD", PROGRAM="/bin/sh -c 'ls -1 /media | grep ^HSMFD | wc -l | sed s/^0//'", RUN+="/usr/bin/systemd-mount --no-block --type=vfat --options=rw,noexec,sync --collect $devnode /media/HSMFD$result"
